@font-face {
    font-family: 'Inter';
    src: url('Inter/Inter-VariableFont_slnt\,wght.ttf');
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url:url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255,255,255,0.2);
    --switch-bg: white url(./assets/MoonStars.svg) no-repeat center;

}

.light {
    --text-color: black;
    --bg-url:url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg: white url(./assets/Sun.svg) no-repeat center;
}

body{
    /*
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */
    background: var(--bg-url) no-repeat top center/cover;
    height:100%;
}

body *{
    font-family: 'Inter', sans-serif;
    color:var(--text-color);
}

#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px; 
}

#profile {
    text-align: center;
    padding:24px;    
}

#profile p {
    font-weight: 500;
    font: size 16px;
    line-height: 24px;
    margin-top: 8px;
}

#profile img {
    width: 112px;    
}

#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button{
    height: 32px;
    width: 32px;
    background: var(--switch-bg);
    border:0;
    border-radius: 50%;

    position:absolute;
    left: 0;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);

    animation: slide-out 0.4s;
}

.light #switch button{
    animation: slide-in 0.4s forwards;
}

#switch button :hover{
    outline: 10px solid var(--highlight-color);
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/*Links*/
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a{
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    ~webkit~backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: background 0.5s;
}

ul li a:hover{
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

#social-links{
    display:flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

#social-links a{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
}

#social-links a:hover{
    background: var(--highlight-color);
    padding: 16px;
}

footer{
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

/*Media queries*/

@media(min-width: 700px) {
    :root {
        --bg-url: url(./assets/bg-desktop.jpg)
    }

    .light {
        --bg-url: url(./assets/bg-desktop-light-jpg)
    }
}

/* animações*/
@keyframes slide-in{
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
} 

@keyframes slide-out{
    from {
        left: 50%;
    } 
    to {
        left: 0;
    }
}